<div id="div1">
  <div id="div2"  fxLayout="column"
    fxLayoutAlign="center center">
    <div id="content-container"
      [ngClass]="{
        crawler : keyPressed
      }">
      <div style="min-height: 45vh"></div>
      <div class="header"
        [ngClass]="{
          'is-zero-opacity': keyPressed
        }" >Press <a>F11</a> to start</div>
      <div>
        <div style="margin: 50px 0px">A long time ago in a galaxy far, far away....</div>
        <p>Turmoil has engulfed the</p>
        <p>Galactic republic. The taxation</p>
        <p>of trade routes to outlying star</p>
        <p>Systems is in dispute</p>
      </div>
      <div class="loading-message"
        [ngClass]="{
          'is-one-opacity' : showLoadingMessage
        }">Loading.....</div>
      <div *ngIf="response && !showLoadingMessage" style="color: green;">
        {{response}}
      </div>
      <div *ngIf="error && !showLoadingMessage" style="color: red;">
        {{error}}
      </div>
    </div>
  </div>
</div>
